* {
    padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Amatic SC', cursive;
	background-color: #4a8b44;
	font-size: 21px;
}

.page_container {
	overflow-x: hidden;
}

ol, ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

a {
	color:#ffffff;
	text-decoration: none;
}

.clear {
	clear: both;
}

/* for mobile phones: */

.no_mobile {
	display: none;
}

/* main header navigation */

.header_main_page {
	background-color: #4a8b44;
	background: url(../img/o_nas_duze.jpg) no-repeat;
	background-size: cover;
	background-position: 20%;
	min-height: 480px;
	max-height:100%;
	max-width: 100%;
	margin-top: 0px;
	padding-top: 0px;
}

.logo_name {
	font-size: 40px;
	font-weight: bold;
	margin-top: 0px;
	padding-left: 10px;
	padding-top: 10px;
	background: rgba(255, 255, 255, 0.6);
	color: #633e83;
	width: 100%;
}

.nav_main_page {
	display: flex;
	margin-left: 10px;
	margin-top: 10px;
}

.nav_menu_option {
	border: 0px;
	border-radius: 5px;
	font-size: 21px;
	color: #ffffff;
	background: rgba(131, 64, 135, .6);
	padding: 5px;
	margin-top: 10px;
	width: 100%;
}

.nav_menu_option:hover {
	background: rgba(255, 255, 255, 0.6);
	color: #633e83;
}

.nav_dropdown_menu {
	display: none;
}

#logo {
	font-weight: 700;
	font-size: 36px;
	color: white;	
}

.tilelink {
	color: white;
	display: inline-block;
}

/* articles */

.article_content {
	display: flex;
	flex-direction: column;
	padding: 10px;
	text-align: justify;
	line-height: 130%;
}

.article_light_blue {
	background-color: #446d87;
	color: #dedede;
	padding: 20px;
}

.article_dark_blue {
	background-color: #424787;
	color: #dedede;
	padding: 20px;
}

.article_menu {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.article_menu > li {
	margin: 3px;
	padding: 5px;
	color: #ffffff;
	background: rgba(131, 64, 135, .6);
	font-size: 21px;
	border-radius: 5px;
}

blockquote {
	background: rgba(255, 255, 255, 0.6);
	color: #633e83;
	font-size: 24px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
	text-align: center;
}

.quote_author {
	display: block;
	text-align: right;
	padding: 10px;
	font-size: 20px;
}

.overlay_container {
	display: flex;
	position: relative;
	width: 100%;
}

.img_mobile {
	display: block;
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background: rgba(255, 255, 255, 0.6);
}

.title_over_picture {
	color: #633e83;
	font-size: 35px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.contact {
	text-align: center;
}

address {
	font-size: 26px;
	font-weight: 700;
}

.footer_nav_bar
{
	width: 100%;
	margin-bottom: 0px;
	background-color: #4a8b44;
	text-align: center;
}

#min_logo {
	font-weight: 700;
	font-size: 26px;
	color: white;
}

#signature {
	font-size: 16px;
	color: #ffffff;
	margin-top: 5px;
}

.back_to_menu {
	position: fixed;
	left: 5px;
	bottom: 10px;
	margin-bottom: 10px;
}

/* details pages */

/* about us page */

/* navigation for details pages */

.nav_details_page {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 32px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 1;
	background: rgba(131, 64, 135, .6);
}

.nav_option_details_page {
	display: inline;
	float: left;
	text-align: center;
	font-size: 21px;
	color: #ffffff;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	border-right: 0.5px dashed rgb(131, 64, 135);
}

.nav_option_details_page:last-child, .nav_option_details_page_local:last-child {
	border-right: 0;
}

.nav_details_page_local {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 32px;
	z-index: 1;
	background: rgba(74,139,68, .6);
}

.nav_option_details_page_local {
	display: inline;
	float: left;
	text-align: center;
	font-size: 21px;
	color: #ffffff;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	border-right: 0.5px dashed rgb(74,139,68);
}

.active_menu_option {
	color: #ffffff; 
	background: rgba(74,139,68, .6);
	
}

.icon-home {
	padding: 2px;
	text-align: center;
}

/* main content details */

.article_details_title {
	padding-top: 64px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.photo_about_circle {
	max-width: 120px;
	height: auto;
	border-radius: 50%;
	display: inline-block;
	float: left;
}

.article_details_title > h2 {
	display: inline-block;
	float: left;
	padding: 65px 5px 5px 5px;
}

.article_in_memory_title {
	text-align: center;
	padding: 65px 5px 5px 5px;
}

div.img_in_memory {
	width: 45%;
	min-height: 200px;
	display: inline-block;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #446d87;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

.photo_about_circle_memory {
	max-width: 120px;
	height: auto;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.description_img_in_memory {
	text-align: center;
	vertical-align: middle;
	padding: 10px 10px;
}

.photo_at_the_end {
	max-width: 400px;
	hight: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* puppies page */

.article_news_puppies_title {
	display: block;
	text-align: center;
}

div.img_in_love {
	width: 45%;
	min-height: 200px;
	display: inline-block;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #424787;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

.list_for_archive {
	margin: 10px auto 10px auto;
}

.list_for_archive > dt {
	color: white;
	background-color: #633e83;
	font-weight: bold;
	padding: 8px;
	text-align: left;
}

.list_for_archive > dd {
	background-color: #834087;
	padding: 8px;
}

/* training, shows - nothing added */

/* more styles */

.bold {
	font-weight: bold;
	font-size: 22px;
}

.white_text {
	color: #ffffff;
}

/* for desktop: */

@media only screen and (min-width: 800px) {
	.no_desktop {
		display: none;
	}
	
/* main part */
	
	.header_main_page {
		background-image: none;
		background-color: #4a8b44;
		margin-top: 0px;
		padding-top: 0px;
	}
	
	.content_container {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.nav_fixed {
		position: fixed;
		top: 0;
		z-index: 1;
	}
	
	.logo_name {
		background-color: #4a8b44;
		color: #ffffff;
		display: inline-block;
		width: 30%;
		float: left;
	}
	
	.nav_main_page {
		display: inline-block;
		float: right;
		margin-top: 20px;
	}
	
	li.nav_menu_option {
		display: inline;
		margin: 0px 5px 0px 2.5px;
		position: relative;
		font-size: 24px;
	}
	
	.nav_dropdown_menu {
		display: none;
		justify-content: space-between;
		position: absolute;
		top: 38px;
		left: 0px;
		padding-left: 0;
	}
	.nav_dropdown_menu > li {
		margin: 5px;
		padding: 5px;
		font-size: 20px;
		color: #ffffff;
		border-radius: 5px;
		display: flex;
		flex-basis: 100%;
		min-height: 30px;
		width: 100%;
		background: rgba(131, 64, 135, .6);
		z-index: 1;
	}
	
	.nav_menu_option:hover .nav_dropdown_menu {
		display: inline-block;
	}
	
	.nav_dropdown_menu > li:hover, .article_menu > li:hover {
		background: rgba(255, 255, 255, 0.6);
	}
	
	.nav_dropdown_menu > li:hover > a, .article_menu > li:hover > a {
		color: #633e83;;
		font-weight: bold;
	}
	
	.quote {
		display: block;
		max-width: 800px;
		color: #ffffff;
		background-color: #4a8b44;
		font-size: 24px;
		text-align: right;
		padding: 25px 5px 15px 5px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.img_big {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
		height: auto;
		margin-top: -290px ;
	}
	
/* articles */

	.article_title {
		display: inline-block;
		float: left;
		margin-left: auto;
		margin-right: auto;
		color: #ffffff;
		font-size: 30px;
		font-weight: bold;
		padding: 15px;
	}
	
	.article_menu {
		padding: 15px;
	}

}






