* {
    padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Amatic SC', cursive;
	background-color: rgba(74,139,68, .7);
	font-size: 21px;
}

#page_container {
	overflow-x: hidden;
}

ol, ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

a {
	color:#ffffff;
	text-decoration: none;
	display: block;
}

.relative_container {
	position: relative;
}

.bold {
	font-weight: bold;
	font-size: 22px;
}

.white_text {
	color: #ffffff;
}

.clear {
	clear: both;
}

.a_inline_normal {
	display: inline;
	font-weight: inherit;
	font-size: inherit;
	text-decoration: none;
}

.empty {
    min-height: 30vh;
}

/* ----------------------------------------  for mobile phones: ---------------------------------------- */

.no_mobile {
	display: none;
}

/* navigation on main page */

.header_main_page {
	background-color: rgba(74,139,68, .7);
	background: url(../img/about_us_main.png) no-repeat;
	background-size: cover;
	background-position: 28%;
	min-height: 480px;
	max-height:100%;
	max-width: 100%;
}

.logo_name {
	font-size: 40px;
	font-weight: bold;
	padding: 8px 16px 8px 16px;
	background: rgba(255, 255, 255, 0.6);
	color: #633e83;
	width: 100%;
	text-align: right;
}

.icon-menu {
	float: left;
	padding: 16px;
	color: #633e83;
    transition: all .3s linear;
}

.nav_dropdown_menu {
	float: none;
	position: absolute;
	top: 66px;
	left: 0;
	text-align: left;
	width: 110px;
	background: rgba(99,62,131, 0.6);
	display: none;
}
	
.nav_dropdown_menu > li {
	display: block;
	margin: 2.5px 0px 5px 22px;
	padding: 2px;
	font-size: 22px;
}

/* main page content */

blockquote {
	background: rgba(255, 255, 255, 0.6);
	color: #633e83;
	font-size: 24px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
	text-align: center;
}

.quote_author {
	display: block;
	text-align: right;
	padding: 10px;
	font-size: 20px;
}

.article_content {
	display: flex;
	flex-direction: column;
	padding: 10px;
	text-align: justify;
	line-height: 136%;
}

.content_container {
    font-family: 'Open Sans Condensed', sans-serif;
}

.content_container h2 {
    font-family: 'Amatic SC', cursive;
}

.content_container p {
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 2px;
}

.article_light_blue {
	background-color: rgba(68,109,135, .7);
	color: #dedede;
	padding: 20px;
}

.article_dark_blue {
	background-color: rgba(66,71,135, .7);
	color: #dedede;
	padding: 20px;
}

.article_menu {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
    font-family: 'Amatic SC', cursive;
}

.article_menu > li {
	margin: 3px;
	padding: 5px;
	color: #ffffff;
	background: rgba(131, 64, 135, .6);
	font-size: 24px;
	border-radius: 5px;
	min-width: 80px;
	text-align: center;
}

.overlay_container {
	display: flex;
	position: relative;
	width: 100%;
}

.img_mobile {
	display: block;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.6);
}

.title_over_picture {
	color: #633e83;
	font-size: 35px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.contact_class {
	text-align: center;
}

address {
	font-size: 38px;
	font-weight: normal;
    font-style: normal;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 12px;
    transition: background-color .3s linear;
    display: block;
    margin: 14px auto;
}

address:hover {
    background-color: #446d87;
}

.footer_nav_bar {
	width: 100%;
	margin-bottom: 0px;
/*	background-color: rgba(74,139,68, .7);*/
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
}

.tilelink {
	color: white;
	display: inline-block;
}

#min_logo {
	font-weight: 700;
	font-size: 26px;
	color: white;
}

#signature {
	font-size: 16px;
	color: #ffffff;
	margin-top: 12px;
}

#signature a {
	display: inline;
}

#signature a:hover {
	text-decoration: underline;
}

.back_to_menu {
	position: fixed;
	left: 5px;
	bottom: 10px;
	margin-bottom: 10px;
}

/* details pages */

/* navigation for details pages */

.nav_details_page {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 38px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 1;
	background: rgba(131, 64, 135, .6);
}

.nav_option_details_page {
	display: inline;
	float: left;
	text-align: center;
	font-size: 22px;
    font-family: 'Amatic SC', cursive;
	color: #ffffff;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	border-right: 0.5px dashed rgb(131, 64, 135);
}

.nav_option_details_page:last-child, .nav_option_details_page_local:last-child {
	border-right: 0;
}

.active_menu_option {
	color: #ffffff; 
	background: rgba(74,139,68, .6);	
}

.icon-home {
	padding: 2px;
	text-align: center;
}

/* main content details */

.article_content {
	padding-top: 60px;
}

.article_content_top {
	padding-top: 10px;
}

.article_details_title {
	padding-top: 40px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.photo_about_circle {
	max-width: 120px;
	height: auto;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin: 12px;
}

.article_h2_title {
	display: inline-block;
	font-size: 28px;
	float: left;
	padding: 40px 5px 5px 5px;
}

h2.article_in_memory_title {
	color: #ffffff;
	font-size: 36px;
	padding-left: 20px;
}

div.img_in_memory {
	width: 45%;
	height: 580px;
	display: inline-block;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
    margin-top: 20px;
	background-color: #446d87;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

.photo_about_circle_memory {
	max-width: 120px;
	height: auto;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.description_img_in_memory {
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	padding: 10px 10px;
}

.photo_at_the_end {
	max-width: 400px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* deatails page articles */

h3.titles_dog {
    margin-bottom: 6px;
}

h4.additional_titles_dog {
    margin-top: 24px;
    margin-bottom: 24px;
}

.article_news_puppies_title {
	text-align: center;
	color: #ffffff;
	font-size: 36px;
}

div.img_in_love {
	width: 40%;
	min-height: 200px;
	display: inline-block;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #424787;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

.list_for_archive {
	margin: 10px auto 10px auto;
}

.list_for_archive > dt {
	color: white;
	background-color: #633e83;
	font-weight: bold;
	padding: 8px;
	text-align: left;
	margin-top: 10px;
}

.list_for_archive > dd {
	background-color: #834087;
	padding: 8px;
}

/* ---------------------------------------- for desktop: ---------------------------------------- */

@media only screen and (min-width: 860px) {
	.no_desktop {
		display: none;
	}
    
	/* navigation on main page */
	
	.header_main_page {
		background-image: none;
		background: rgba(74, 139, 68, 0.5);
		width: 100%;
		min-height: 80px;
		margin-top: 0px;
		padding-top: 0px;
		position: fixed;
		top: 0;
	}
	
	.content_container_header, .content_container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.logo_name {
		background: inherit;
		color: #ffffff;
		display: inline-block;
		width: 28%;
		float: left;
	}
	
	.nav_main_page {
		display: inline-block;
		float: right;
		text-align: right;
		margin-top: 20px;
		margin-bottom: 0px;
		width: 60%;
		height: 100%;
	}
	
	li.nav_menu_option {
		border: 0px;
		border-radius: 5px;
		font-size: 21px;
		color: #ffffff;
		background: rgba(131, 64, 135, .6);
		padding: 5px;
		width: 100%;
		display: inline;
		margin: 0px 5px 0px 2.5px;
		font-size: 28px;
        transition: all .3s linear;
	}
	
	li.nav_menu_option:hover {
		background: rgba(255, 255, 255, 0.6);
		color: #633e83;
	}
	
	.nav_menu_option > a {
		display: inline;
	}
	
	.icon-menu {
		color: #ffffff;
		font-size: 30px;
		padding-left: 0;
        transition: all .3s linear;
	}
	
	.nav_dropdown_menu {
		top: 70px;
		position: fixed;
		width: 100%;
		padding: 5px 5px 5px 5px;
		background: rgba(131, 64, 135, .6);
	}
	
	.nav_dropdown_menu > li {
		display: inline;
		padding: 2px;
        font-size: 24px;
        transition: all .3s linear;
	}
	
	.nav_dropdown_menu > li:first-child {
		margin-left: 30%;
	}
	
	.nav_dropdown_menu > li > a {
		display: inline;
	}
	
	.nav_dropdown_menu > li:hover {
		background: rgba(255, 255, 255, 0.6);
		color: #633e83;
		border-radius: 5%;
	}
	
	.nav_dropdown_menu > li:hover > a, .article_menu > li:hover > a {
		color: #ffffff;
	}
	
	.aside_quote {
		background-color: inherit;
		min-height: 400px;
		width: 750px;
		margin-top: 114px;
		margin-left: auto;
		margin-right: auto;	
	}
	
	blockquote {
		background-color: inherit;
		color: #ffffff;
		text-align: right;
        font-size: 34px;
	}
	
	.img_big {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		height: auto;
		margin-top: -290px;
	}
		
	/* articles on main page for desktop*/

	.article_content {
		padding-top: 90px;
	}
	
	main {
		margin-top: 60px;
	}
	
	.article_title {
		display: block;
		color: #ffffff;
		font-size: 30px;
		font-weight: bold;
		padding: 15px 5px 25px 5px;
	}
	
	.polaroid_menu {
        width: 800px;
        height: auto;
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
        font-family: 'Amatic SC', cursive;
	}
	
	.img_polaroid_4 {
		display: block;
		width: 180px;
		height: 180px;
		margin: 5px auto 5px auto;
	}
	
	div.polaroid_4 {
		display: flex;
		flex-wrap: wrap;
		width: 190px;
		background: #4a8b44;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin: 15px 2.5px 25px 2.5px;	
		transition: background .3s linear;
	}

	div.polaroid_container {
		width: 100%;
		text-align: center;
		padding: 20px;
	}
	
	.polaroid_4:hover, .polaroid_2:hover, .polaroid_3:hover {
		background: rgba(131, 64, 135, .6);
	}
	
	.img_polaroid_2 {
		display: block;
		width: 360px;
		height: 248px;
		margin: 5px auto 5px auto;
	}
	
	div.polaroid_2 {
		display: flex;
		flex-wrap: wrap;
		width: 370px;
		background: #4a8b44;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin: 15px 5px 25px 5px;
		transition: background .3s linear;
	}
	
	.img_polaroid_3 {
		display: block;
		width: 250px;
		height: 250px;
		margin: 5px auto 5px auto;
	}
	
	div.polaroid_3 {
		display: flex;
		flex-wrap: wrap;
		width: 255px;
		background: #4a8b44;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin: 15px 3px 25px 3px;
		transition: background .3s linear;
	}
	
	.polaroid_no_hover:hover {
		background-color: #4a8b44;
	}
	
	.back_to_menu {
		font-size: 38px;
	}
	
	/* details pages for desktop */
	
	.header_details_page {
		background: rgba(74, 139, 68, 0.5);
		width: 100%;
		min-height: 80px;
		margin-top: 0px;
		padding-top: 0px;
		position: fixed;
		top: 0;
	}
	
	.nav_details_page {
		min-height: 40px;
		background: inherit;
		margin-top: 20px;
        font-family: 'Amatic SC', cursive;
	}
	
	li.nav_option_details_page {
		display: inline;
		margin: 0px 5px 0px 2.5px;
		font-size: 28px;
		border: 0px;
		border-radius: 5px;
		color: #ffffff;
		background: rgba(131, 64, 135, .6);
		padding: 5px;
	}

	li.nav_option_details_page:nth-child(2) {
		margin-left: 24%;
	}

	li.nav_option_details_page:hover {
		background: rgba(255, 255, 255, 0.6);
		color: #633e83;
	}
	
	.article_menu > li:hover {
		background: rgba(131, 64, 135, .9);
		border-radius: 5%;
	}
	
	.article_details_title {
		padding-top: 80px;
		width: 800px;
        font-family: 'Amatic SC', cursive;
	}
	
	h2.article_h2_title, h2.article_in_memory_title {
		font-size: 42px;
		color: #ffffff;
		font-weight: bold;
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: right;
		padding: 60px 5px 5px 5px;
	}

	.photo_about_big {
		display: block;
		float: left;
		padding-top: 80px;
		margin-left: 0px;
		margin-right: 10px;
		max-width: 400px;
		height: auto;
		margin-top: -280px;
		margin-bottom: 10px;
	}
	
	.article_news_puppies_title {
		padding-bottom: 140px;
	}
	
	.img_in_love_desktop {
		max-width: 380px;
		height: auto;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.img_question_mark {
		height: 320px;
	}
	
	div.polaroid_one {
		background: rgba(131, 64, 135, .6);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin: 15px auto 25px auto;
		display: flex;
		flex-wrap: wrap;
		width: 255px;
		height: 400px;
	}
	
	div.polaroid_one_archive {
		background: rgba(131, 64, 135, .6);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin: 15px auto 25px auto;
		display: flex;
		flex-wrap: wrap;
		width: 255px;
		height: 600px;
	}
	
	div.polaroid_one_archive a:hover {
		text-decoration: underline;
	}
	
	div.polaroid_double {
		width: 510px;
		height: 400px;
		background: rgba(131, 64, 135, .6);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin: 15px auto 25px auto;
	}
	
	.polaroid_double > .img_polaroid_3, .polaroid_tripple > .img_polaroid_3 {
		display: inline;
		float: left;
		margin: 5px 2.5px 5px 2.5px;
	}

	div.polaroid_tripple {
		width: 765px;
		height: 340px;
		background: rgba(131, 64, 135, .6);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin: 15px auto 25px auto;
	}
	
	.puppies_archive_litter_name {
		font-weight: bold;
		font-size: 26px;
		color: #ededed;
	}
	
	.article_in_memory_title {
		padding-top: 80px;
	}
	
	article.no_mobile {
		display: block;
	}
}

/* http://jigsaw.w3.org/css-validator/check/referer ="Poprawny CSS!" */
