
.icon-up-circle:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */